@import url(https://rsms.me/inter/inter.css);
html {
  font-family: 'Inter', sans-serif;
}

html, body {
  height: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ebedee;
}

.close__menu {
  position: absolute;
  top: 24px;
  right: 24px;
}

.close__menu .cross_svg {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close__menu:hover .cross {
  stroke: #2b8ff4;
}

.btn {
  color: #2b8ff4;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  padding: 12px 24.5px;
  border: 2px solid transparent;
  -webkit-transition: background .1s ease;
  transition: background .1s ease;
}

.btn--full-width {
  width: 100%;
}

.btn__primary {
  background-color: rgba(43, 143, 244, 0.2);
}

.btn__primary--margin {
  margin: 0 24px;
}

.btn__primary:hover {
  background-color: #2b8ff4;
  color: #ffffff;
}

.btn__primary--white {
  background-color: #ffffff;
  font-weight: normal;
  text-transform: capitalize;
  overflow: hidden;
  border: none;
}

.btn__primary--white span {
  background-image: linear-gradient(252deg, #a065e0, #2b8ff4);
  font-family: Inter;
  font-size: inherit;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn__primary--white:hover span {
  background-clip: none;
  color: #2b8ff4;
  -webkit-text-fill-color: #2b8ff4;
}

.btn__secondary {
  border: 2px solid rgba(43, 143, 244, 0.2);
  padding: 10px 25.5px;
}

.btn__secondary:hover {
  border: 2px solid #2b8ff4;
}

.btn__secondary--nobg {
  background: none;
  color: #ffffff;
  font-weight: normal;
  text-transform: capitalize;
  margin-right: 24px;
}

.btn__secondary--nobg:hover {
  border: 2px solid #ffffff;
}

.btn--blue {
  background-color: #2b8ff4;
  color: #ffffff;
}

.btn--blue:hover {
  background-color: #066cd4;
}

.btn__manage-team {
  text-transform: capitalize;
  margin-top: 24px;
}

.plan__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.link__primary {
  color: #2b8ff4;
}

.link__primary:hover {
  color: #5CB3FF;
}

.menu__link {
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  -webkit-transition: color .1s ease;
  transition: color .1s ease;
}

.container {
  position: relative;
}

.main__menu {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  height: 100vh;
  position: fixed;
  min-width: 360px;
  background-color: #ffffff;
  z-index: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__menu--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main__menu .logo {
  margin-right: 24px;
}

.menu__header {
  padding: 40px 32px 32px 32px;
  border-bottom: 1px solid #ebedee;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu__list {
  padding: 32px 0;
  width: 100%;
}

.list__item {
  cursor: pointer;
  width: 100%;
  padding: 8px 0;
  padding-left: 32px;
  border-right: 2px solid transparent;
  -webkit-transition: background .1s ease;
  transition: background .1s ease;
}

.list__item:hover {
  background-color: rgba(43, 143, 244, 0.2);
}

.list__item:hover .menu__link {
  color: #2b8ff4;
}

.item--active {
  background-color: rgba(43, 143, 244, 0.2);
  border-right: 2px solid #2b8ff4;
}

.item--active .menu__link {
  color: #2b8ff4;
}

.separator {
  height: 40px;
  width: 1px;
  background-color: #ebedee;
  margin-right: 24px;
  display: block;
}

.user {
  border-top: 1px solid #ebedee;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 108px;
  padding: 34px 28px 34px 32px;
}

.user__avatar {
  margin-right: 24px;
}

.user__name {
  font-size: 16px;
  line-height: 24px;
}

.user__position {
  text-transform: uppercase;
  color: #99a9b1;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .5px;
}

.user__settings {
  margin-top: auto;
  width: 100%;
  color: inherit;
}

.user__settings:hover {
  background-color: rgba(43, 143, 244, 0.2);
}

.user__arrow {
  margin-left: auto;
}

.top__bar {
  background-color: #191d1f;
  width: 100%;
  height: 80px;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.top__bar__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.logo {
  width: 41px;
  height: 41px;
  margin-right: 23px;
}

.breadcrumbs {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #191d1f;
  opacity: .2;
  z-index: 200;
  display: none;
}

.selected__app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 215px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 14px;
  line-height: 22px;
  padding: 16px;
}

.selected__app > .link {
  margin-left: 4px;
}

.btn__search {
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  position: relative;
  right: 5px;
  width: 40px;
  height: 40px;
}

.search__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.search__input {
  height: 40px;
  width: 0;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border-radius: 5px;
  position: relative;
  right: -35px;
  padding: 0;
  -webkit-transition: width .3s ease;
  transition: width .3s ease;
  font-size: 14px;
}

.search__input::-webkit-input-placeholder {
  color: #ffffff;
}

.search__input:-ms-input-placeholder {
  color: #ffffff;
}

.search__input::-ms-input-placeholder {
  color: #ffffff;
}

.search__input::placeholder {
  color: #ffffff;
}

.loupe {
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.btn__menu {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hamburger {
  pointer-events: none;
  width: 16px;
  height: 2px;
  border-radius: 1px;
  background-color: #ffffff;
  display: block;
  position: relative;
}

.hamburger::before {
  content: '';
  width: 16px;
  height: 2px;
  border-radius: 1px;
  background-color: #ffffff;
  display: block;
  position: relative;
  position: absolute;
  top: -8px;
}

.hamburger::after {
  content: '';
  width: 16px;
  height: 2px;
  border-radius: 1px;
  background-color: #ffffff;
  display: block;
  position: relative;
  position: absolute;
  top: 8px;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px 0;
  background-color: #ebedee;
}

.section__content, .top__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  width: 100%;
  padding: 0 24px;
}

.dashboard__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.section__title {
  font-size: 24px;
}

.cta__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dashboard__menu__container {
  background-color: #ffffff;
  border-radius: 5px;
  height: 64px;
  width: 100%;
  margin: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.subtitle {
  font-size: 16px;
  width: 100%;
  height: 64px;
  padding: 20px 22px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.subtitle--underline {
  border-bottom: 1px solid #ebedee;
}

.subsection__label {
  font-size: 12px;
  color: #99a9b1;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 15px;
  margin-top: 24px;
}

.subsection__label--client {
  margin-top: 34px;
}

.dashboard__nav {
  width: 72px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-left: 1px solid #ebedee;
}

.dashboard__nav__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 0;
}

.dots {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #2b8ff4;
  position: absolute;
  display: block;
  position: relative;
  pointer-events: none;
}

.dots::before {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #2b8ff4;
  position: absolute;
  display: block;
  left: -10px;
}

.dots::after {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #2b8ff4;
  position: absolute;
  display: block;
  left: 10px;
}

.filters__container {
  width: 66%;
  height: auto;
  margin-right: 24px;
  background-color: #ffffff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.filters {
  width: 100%;
  position: relative;
  padding: 0 22px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.checkbox__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
}

.actual__checkbox {
  display: none;
}

.actual__checkbox:checked ~ .checkbox {
  background-color: #2b8ff4;
  border: 2px solid #2b8ff4;
}

.actual__checkbox:checked ~ .checkbox::after {
  opacity: 1;
  -webkit-transform: rotate(-45deg) scale(1);
          transform: rotate(-45deg) scale(1);
}

.actual__checkbox:checked ~ .checkbox__title {
  color: #000000;
}

.checkbox__title {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  color: #7a8388;
  font-size: 16px;
  text-transform: capitalize;
}

.checkbox {
  width: 20px;
  height: 20px;
  display: block;
  background-color: #ffffff;
  border: solid 2px #d0d2d2;
  border-radius: 2px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
  margin-right: 16px;
}

.checkbox::after {
  content: '';
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  display: block;
  position: absolute;
  top: 2px;
  left: 1px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  -webkit-transform: rotate(-45deg) scale(0);
          transform: rotate(-45deg) scale(0);
  height: 8px;
  width: 14px;
}

.arrow {
  position: relative;
  right: 0;
  pointer-events: none;
}

.placeholder {
  color: #7a8388;
}

.options__list {
  -webkit-transition: height .3s ease;
  transition: height .3s ease;
  height: 0;
  width: calc(100% - 44px);
  position: absolute;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 100;
  border-bottom: 0px solid #2b8ff4;
}

.option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 48px;
  padding: 24px 0;
  background-color: rgba(43, 143, 244, 0.2);
  position: relative;
  color: #000000;
}

.option::before {
  content: '-';
  margin: 0 22.5px;
}

.option:hover {
  background-color: RGBA(92, 179, 255, 0.1);
}

.option label {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  padding-left: 45px;
  cursor: pointer;
}

.select__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 48px;
  border: 1px solid #ebedee;
  border-radius: 4px;
  margin-top: 16px;
  outline: none;
  padding: 24px;
  cursor: pointer;
}

.select__active:focus {
  outline: -webkit-focus-ring-color auto 1px;
}

.actual__option {
  display: none;
}

.apply__filters {
  border-top: 1px solid #ebedee;
  margin-top: 41px;
  padding: 0 24px;
  height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.stats__container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.stats__card {
  height: 100px;
  width: 100%;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.stats__card:not(:first-child) {
  margin-top: 24px;
}

.stats__title {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: #99a9b1;
}

.card__icon {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 52px;
  min-height: 52px;
  margin-right: 24px;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stats-no {
  font-size: 20px;
  margin-top: 4px;
}

.employees {
  background-color: rgba(43, 143, 244, 0.2);
}

.request {
  background-color: rgba(98, 212, 128, 0.2);
}

.activity-score {
  background-color: rgba(244, 152, 43, 0.2);
}

.solved {
  background-color: rgba(160, 101, 224, 0.2);
}

.tables__container {
  background-color: #ffffff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 24px;
  height: 372px;
  max-height: 372px;
  overflow: hidden;
  position: relative;
}

.tabs__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid #ebedee;
  margin-bottom: auto;
}

.tab {
  font-size: 16px;
  text-transform: capitalize;
  padding: 24px;
  border-bottom: 2px solid transparent;
  color: #7a8388;
  position: relative;
  bottom: -1px;
}

.tab--active {
  border-bottom: 2px solid #2b8ff4;
  color: #000000;
}

.tab:not(.tab--active):hover {
  border-bottom: 2px solid rgba(43, 143, 244, 0.2);
  color: #2b8ff4;
  cursor: pointer;
}

.table__container {
  padding: 0 24px 24px 24px;
  width: 100%;
  position: absolute;
  bottom: 0;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

.table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  border: 1px solid #ebedee;
  margin-top: 24px;
  border-radius: 4px;
}

.thead {
  padding: 20px 24px;
  background-color: #ebedee;
}

.thead .tr, .thead .th {
  height: 64px;
}

.table__activity {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.tr .td:first-child, .tr .th:first-child {
  margin-left: 24px;
}

.tr .td:last-child, .tr .th:last-child {
  margin-right: 24px;
}

.th, .td {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 228px;
  height: 56px;
  text-transform: capitalize;
}

.th {
  font-size: 16px;
}

.td {
  color: #7a8388;
  font-size: 14px;
}

.tbody .tr:hover {
  background-color: rgba(240, 240, 240, 0.3);
}

.person__details {
  position: relative;
  padding-left: 48px;
}

.person__details .avatar {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  display: inline-block;
  position: absolute;
  top: -9px;
  left: 0;
}

.tr:not(:last-child) td {
  border-bottom: 1px solid #ebedee;
}

.tr:last-child {
  border-bottom: 1px solid #ebedee;
}

.table::-webkit-scrollbar-track {
  background-color: transparent;
}

.table::-webkit-scrollbar {
  height: 24px;
  background-color: transparent;
}

.table::-webkit-scrollbar-thumb {
  border-radius: 14px;
  border: 8px solid #ffffff;
  background-color: #ced2d4;
}

.status-solved::before {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-right: 8px;
  display: inline-block;
  position: relative;
  top: -3px;
  background-color: #62d480;
}

.status-in-progress::before {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-right: 8px;
  display: inline-block;
  position: relative;
  top: -3px;
  background-color: #f4982b;
}

.status-accepted::before {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-right: 8px;
  display: inline-block;
  position: relative;
  top: -3px;
  background-color: #62d480;
}

.files__container {
  background-color: #ffffff;
  border-radius: 5px;
  width: 100%;
  margin-top: 24px;
  padding-bottom: 24px;
}

.files__header {
  padding-right: 24px;
  height: 64px;
  width: 100%;
  border-bottom: 1px solid #ebedee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.recently__added {
  padding: 0 23px;
}

.files {
  margin-top: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recently-added--icon {
  margin-right: 24px;
}

.pdf-icon {
  width: 51px;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 5px;
  background-color: rgba(239, 63, 63, 0.2);
}

.docx-icon {
  width: 51px;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 5px;
  background-color: rgba(61, 104, 211, 0.2);
}

.csv-icon {
  width: 51px;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 5px;
  background-color: rgba(48, 148, 76, 0.2);
}

.plan__text {
  text-align: left;
  width: 100%;
}

.upgrade__plan {
  width: 100%;
  border-radius: 5px;
  margin-top: 24px;
  padding: 32px 24px 24px 24px;
  background: -webkit-gradient(linear, right top, left top, from(#a065e0), to(#2b8ff4));
  background: linear-gradient(to left, #a065e0, #2b8ff4);
  color: #ffffff;
  min-height: 224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.plan__slogan {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}

.plan__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 24px;
}

.new__widget {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 24px;
  border: 2px dotted #acaeaf;
  border-radius: 5px;
  cursor: pointer;
}

.new__widget:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.plan_widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.add__new__widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.plus--icon {
  margin-right: 10px;
  margin-top: 1px;
}

@media all and (max-width: 720px) {
  .logo {
    margin-right: 0;
  }
  .section__title {
    font-size: 20px;
  }
  .filters__container {
    width: 100%;
    margin-right: 0;
    margin-bottom: 24px;
  }
  .cta__btn {
    font-size: 10px;
    padding: 12px 7.5px;
  }
  .breadcrumbs {
    position: absolute;
    top: 84px;
    left: 0;
  }
  .selected__app {
    color: #000000;
    background: none;
  }
  .main__container {
    margin-top: 24px;
  }
  .top__bar__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main__menu {
    height: auto;
    width: 100%;
    position: absolute;
    overflow: hidden;
  }
  .search__input {
    right: 5px;
    max-width: 175px;
  }
  .recently-added--icon {
    margin-bottom: 24px;
  }
  .btn__search {
    position: absolute;
    right: 70px;
  }
}

@media all and (min-width: 1300px) {
  .close__menu {
    display: none;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 360px;
  }
  .main__content {
    width: 100%;
  }
  .main__menu {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .btn__menu {
    display: none;
  }
  .pdf-icon svg {
    width: 48px;
    height: 48px;
  }
  .search__input {
    right: -40px;
    width: 260px;
    padding: 0 16px;
  }
  .btn__search {
    pointer-events: none;
  }
  .top__bar--logo {
    display: none;
  }
  .section__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-height: 820px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .filters__container, .files__container {
    width: 400px;
  }
  .tables__container, .stats__container, .plan_widget {
    width: calc(100% - 400px - 24px);
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .files__container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-item-align: start;
        align-self: flex-start;
    height: 269px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .stats__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  .stats__card {
    width: 25%;
    height: 140px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 12px;
  }
  .stats__card:not(:first-child) {
    margin-top: 0;
    margin-left: 24px;
  }
  .card__icon {
    margin: 0;
  }
  .stats {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 24px;
  }
  .stats__title {
    margin: 10px 0;
    text-align: center;
  }
  .stats-no {
    margin: 0;
  }
  .tables__container {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .upgrade__plan, .new__widget {
    width: 50%;
    height: 248px;
  }
  .plan_widget {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .upgrade__plan {
    margin-right: 24px;
  }
  .plan__description {
    font-size: 12px;
    line-height: 14px;
  }
  .plan__slogan {
    font-size: 19px;
    line-height: 32px;
    margin-bottom: 14px;
  }
  .btn__primary--white, .btn__secondary--nobg {
    padding: 8px 11px;
    font-size: 12px;
  }
  .files {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 126px;
  }
  .recently-added--icon:first-child {
    width: 126px;
    height: 126px;
  }
  .order_1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .order_2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .order_3 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .order_4 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .order_5 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .order_6 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .order_7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
}

@media all and (min-width: 1466px) {
  .btn__primary--white, .btn__secondary--nobg {
    padding: 12px 24.5px;
    font-size: 16px;
  }
}

@media all and (min-width: 1530px) {
  .plan__description {
    font-size: 14px;
    line-height: 22px;
  }
  .plan__slogan {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 14px;
  }
}

@media all and (min-width: 1670px) {
  .stats {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
  }
  .stats__card {
    width: 25%;
    height: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 24px;
  }
  .stats__no {
    margin-top: 4px;
  }
  .stats__title {
    text-align: left;
  }
  .card__icon {
    margin-right: 24px;
  }
}
/*# sourceMappingURL=style.css.map */